@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400..700&family=Cabin:wght@400..700&family=Quicksand:wght@300..700&family=Ubuntu:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #000000;
    font: 16px/24px 'Quicksand', Arial , sans-serif;
    font-weight: 700;
}
.container {
    max-width: 1296px;
    margin: 0 auto;
}
.btn-primary {
    padding: 10px 12px;
    background-color: #0F8277;
    color: #EEEEEE;
    border-radius: 4px;
    font-size: 16px;
}
.btn-insight {
    padding: 10px 12px;
    color: #0F8277; 
    border: 2px solid #0F8277;
    border-radius: 4px;
    font-size: 16px;
}
.title-section {
    font-size: 40px;
    line-height: 48px;
}
.text-section {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
.description-section {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
}
.sub-title {
    color: #0F8277;
    font-size: 20px;
}
.card-title-section {
    font-size: 24px;
    line-height: 28px;
    transition: 0.4s;
}
.card-title-section:hover {
    color: #0F8277;
}
.card-text-section {
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    transition: 0.4s;
}
.card-text-section:hover {
    color: #0F8277;
}
.card-link-text {
    color: #0F8277;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    transition: 0.4s;
}
.card-link-text:hover {
    color: #000000;
}
#banner-section,
#program-section, 
#courses-section, 
#featured-section, 
#cooperate-section,
#price-section {
    padding-bottom: 80px;
}
.more-info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-info-link {
    position: relative;
    color: #0F8277;
    font-size: 20px;
    transition: 0.4s;
}
.more-info-link:hover {
    color: #000000;
}
.more-info-link::after {
    position: absolute;
    content: '';
    top: 3px;
    right: -32px;
    width: 20px;
    height: 20px;
    background: url('img/arrow.svg') no-repeat;
}


/* Header */
#header-section {
    padding: 30px 0 32px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-size: 32px;
    line-height: 38px;
    transition: 0.4px;
}
.header-logo:hover {
    color:  #0F8277;
}
.header-button {
    position: relative;
    background-color: #0F8277;
    color: #EEEEEE;
    width: 98px;
    height: 39px;
    padding: 10px 12px;
    border: 1px solid #5C5C5C;
    border-radius: 4px;
    display: flex;
    gap: 8px;
}
.header-button::after {
    position: absolute;
    content: '';
    width: 18px;
    height: 14px;
    top:8px;
    right: 5px;
    background: url("img/Frame\ 1.svg") no-repeat;
}
.search-input {
    position: relative;
    color: #5C5C5C;
    font-weight: 500;
    padding: 0 12px;
    width: 294px;
    height: 36px;
    border-radius: 4px;
}
.search-link {
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: #0F8277;
    border-radius: 0 4px 4px 0;
} 
.search-link::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    background: url("img/Group.svg") no-repeat;
    transform: translate(-50%, -50%);
}
.nav-list {
    display: flex;
    gap: 48px;
}
.nav-item {
    font-weight: 500;
    transition: 0.4s;
}
.nav-item:hover {
    color:  #0F8277;
}
.header-btn {
    display: flex;
    gap: 16px;
}
.header-btn:not(odd) {
    border: none;
}

/* Banner */
#banner-section {
    position: relative;
    padding-bottom: 80px;
    overflow: hidden;
}
.banner-backgroung {
    background: #DBF3ED;
    border-radius: 12px;
    height: 602px;
    width: 100%;
    position: relative;
}
.banner {
    max-width: 512px;
    position: absolute;
    bottom: 184px;
    left: 110px;
}
.banner-title {
    font-size: 56px;
    line-height: 68px;
}
.banner-text {
    width: 482px;
    margin: 32px 0;
}
.banner-link-wrap {
    display: flex;
    align-items: center;
    gap: 24px;
}
.banner-img {
    position: absolute;
    top: 39px;
    right: -60px;
    width: 50%;
    height: 100%;
    background: url(img/hero-img.png) no-repeat;
}

/* Program AND Courses */
.program-heading, 
.courses-heading {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}
.program-list, 
.courses-list {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 24px; 
}
.program-list-item, 
.courses-list-item {
    border-radius: 8px; 
    border: 1px #DADADA solid;
    height: 480px;
}
.program-img {
    width: 416px;
}
.program-card-content, 
.courses-card-content {
    padding: 24px 16px;
    height: 210px;
}
.program-content-wraper, 
.courses-content-wraper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 16px; 
    height: 83%;
}

/* Program */
#program-section {
    padding-top: 80px;
}
.program-wraper, 
.program-link-text {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    gap: 12px; 
}
.program-link-text {
    position: relative;
    padding-left: 32px;
}
.program-link-text::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url('img/cds-react-aria-9.svg') no-repeat;
}


/* Courses */
.courses-list {
    margin-bottom: 40px;
}
.courses-img {
    width: 306px;
}
.courses-company-name {
    position: relative;
    padding-left: 84px;
}
.courses-company-name::before {
    position: absolute;
    content: '';
    top: 2px;
    left: 0;
    width: 72px;
    height: 20px;
    background: url('img/dan-logo\ 1.svg') no-repeat;
}
.courses-link-text {
    margin-left: 4px;
}

/* Featured topics */
.featured {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.featured-category-all-list {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.faetured-category-item, 
.featured-sub-list, 
.featured-sub-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}
.featured-sub-item {
    gap: 10px;
}

/* Cooperate pertners */
.cooperate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 382px;
    background-color: #DBF3ED;
}
.cooperate-wrapper {
    width: 1296px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.cooperate-title {
    width: 872px;
    text-align: center;
}
.cooperate-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Business */
#business-section {
    padding-bottom: 70px;
}
.business {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 72px;
}
.business-content {
    width: 636px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}
.business-block, 
.business-column {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.business-column {
    flex-direction: column;
    gap: 2px;
}
.business-item {
    padding: 10px;
    width: 196px;
    height: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}
.business-column:last-child .business-item {
    border-right: none;
}
.business-item:last-child {
    border-bottom: none;
}

/* Price */
.price-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 966px;
    background-color: #DBF3ED;
}
.price-wrappepr {
    width: 1296px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}
.price-all-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    height: 698px;
}
.price-plan-item {
    background-color: #FDFDFD;
    border-radius: 24px;
    padding: 56px;
    width: 416px;
    height: 698px;
}
.price-plan-item:nth-child(2) {
    background-color: #0F8277;
}
.price-plan-item:nth-child(2) .price-btn-link {
    border-radius: 4px;
    border: 2px solid #FFFFFF;
}
.price-plan-item:nth-child(2) hr {
    background-color: #FFFFFF;
}

.price-plan-item:nth-child(2) .price-info-check {
    background-color: #FFFFFF;
    background-image: url('img/Vector 2.svg');
}

.price-plan-content,
.price-plan-title,
.price-info-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 48px;
}
.price-plan-title {
    height: 286px;
    text-align: center;
    align-items: center;
    gap: 27px;
    position: relative;
}
.price-info-text {
    color: #FFFFFF;
}
.price-btn-link {
    color: #F6FDFF;
    position: absolute;
    top: 244px;
    left: 93px;
}
.price-horisontal-line {
    border: none;
    background-color: #0F8277;
    width: 100%;
    height: 2px;
}
.price-info-list {
    gap: 16px;
}
.price-info-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
.price-info {
    width: 264px;
}
.price-info-check {
    width: 16px;
    height: 16px;
    background-color: #0F8277;
    border-radius: 50%;
    background-image: url('img/Vector 2 white.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* Students photo */
#students-block-section {
    padding-bottom: 76px;
}
.students-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}
.students-wrapper-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    gap: 18px;
}
.student-photo {
    width: 306px;
    height: 210px;
}
.student-photo-9 {
    width: 636px;
    height: 446px;
}
.student-photo-9 {
    grid-column: 2 / span 2; 
    grid-row: 1 / span 2; 
}

/* Ð¡ontact form */
.contact {
    position: relative;
    background-image: url('img/contact\ us.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 728px;
}
.contact-opacity {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.contact-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 565px;
    height: 614px;
    background-color: #DBF3ED;
    border-radius: 24px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contact-title,
.contact-text {
    text-align: center;
}
.contact-input-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.contact-input {
    height: 48px;
    width: 100%;
    background-color: #FDFDFD;
    border-radius: 4px;
    border: 1px solid #0F8277;
    padding: 12px;
}
.contact-input::placeholder {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 500;
}
.contact-btn-send {
    width: 196px;
    text-align: center;
    color: #F6FDFF;
}

/* Footer */
.footer {
    width: 100%;
    height: 238px;
    background-color: #F1F1F1;
    padding: 64px 36px;
    display: flex;
    gap: 684px;
}
.footer-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 306px;
}
.footer-title {
    font-size: 32px;
    line-height: 38px;
}
.footer-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
.footer-right {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 306px;
}
.footer-social-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}
.footer-social-icon {
    display: flex;
}
.icon {
    width: 32px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
}
.instagram {
    background-image: url('img/instagram.svg');
}
.facebook {
    background-image: url('img/facebook.svg');
}
.linkedin {
    background-image: url('img/linkedin.svg');
}
